/* Font */
@import url(//db.onlinewebfonts.com/c/5b7f117bb7e6466b6c73f42d4d27f200?family=PrimanaW00-Light);
@font-face {
	font-family: "PrimanaW00-Light";
	src: url("//db.onlinewebfonts.com/t/5b7f117bb7e6466b6c73f42d4d27f200.eot");
	src: url("//db.onlinewebfonts.com/t/5b7f117bb7e6466b6c73f42d4d27f200.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/5b7f117bb7e6466b6c73f42d4d27f200.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/5b7f117bb7e6466b6c73f42d4d27f200.woff") format("woff"), url("//db.onlinewebfonts.com/t/5b7f117bb7e6466b6c73f42d4d27f200.ttf") format("truetype"),
		url("//db.onlinewebfonts.com/t/5b7f117bb7e6466b6c73f42d4d27f200.svg#PrimanaW00-Light") format("svg");
}

#calc {
	/* Calculator styles */
	width: 260px;
	font-family: "PrimanaW00-Light";

	& > * {
		width: 100%;

		&.calc__header {
			height: 180px;
			background-color: #29363c;
			overflow: hidden;
			white-space: nowrap;
			text-align: right;

			& > * {
				position: relative;
				top: 37px;
				right: 25px;

				&.calc__header__sum {
					color: #6f797b;
					font-size: 28px;
					height: 33px;
				}

				&.calc__header__result {
					color: #fff;
					font-size: 60px;
					letter-spacing: 2px;
					font-weight: bold;
				}
			}
		}

		&.calc__buttons {
			font-size: 0; /* Remove space between buttons */

			button {
				width: 25%;
				border: 0;
				height: 65px;
				color: #fff;
				float: left;

				&:focus {
					outline: none;
				}

				&:active {
					color: #29363c;
				}

				&.action {
					background-color: #ed475d;
					border-top: 1px solid #b74b5b;
					font-size: 24px;

					&[data-role="save"] {
						width: 50%;
					}
				}

				&.operator {
					background-color: #f7b986;
					border-top: 1px solid #d19968;
					font-size: 32px;
				}

				&.digit {
					background-color: #f78279;
					border-top: 1px solid #d46760;
					font-size: 32px;
				}
			}
		}
	}
}

table {
	/* calculations.php table styles */
	width: 600px;
	text-align: right;
	border-spacing: 0;
	border: 1px solid #000;

	thead {
		background-color: lightgrey;

		th {
			padding: 10px 20px;
		}
	}

	tbody {
		background-color: lightblue;

		td {
			padding: 5px 20px;
		}
	}
}
